.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
    background-color: var(--bg-dark);
}

.technologies-title {
    font-size: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-light);
}

.technologies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 10rem;
    gap: 1rem;
    background-color: var(--text-light);
    border-radius: 1rem;
    padding: 2rem;
}

.list-item {
    list-style: none;
    font-size: 4rem;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;
    width: 5rem;
}

.list-item__span {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text);
}

.icon-html {
    color: #e34c26;
}

.icon-css {
    color: #264de4;
}

.icon-node {
    color: #3c873a;
}

.icon-js {
    color: #f7df1e;
}

.icon-ts {
    color: #3178c6;
}

.icon-react {
    color: #61dbfb;
}

.icon-express {
    color: #000000;
}

.icon-mongo {
    color: #4db33d;
}

.icon-git {
    color: #f1502f;
}

.icon-github {
    color: #000000;
}

.icon-postman {
    color: #ff6c37;
}

.icon-vercel {
    color: #000000;
}
