.technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin-inline: 3rem;
    margin-bottom: 2rem;
}

.technologies-title {
    font-size: 4rem;
    margin-top: 7rem;
}

.technologies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 5px 40px -10px rgb(0, 0, 0);
    border: solid 1px oklch(19.625% 0.04554 281.368);
    background-color: oklch(10.633% 0.02858 280.39);
    height: 75%;
    border-radius: 1rem;
}

.frontend {
    background-color: blueviolet;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    flex: 1.5;
}

.frontend__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frontend__title {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    margin-bottom: 0;
}

.frontend__languages {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    margin-bottom: 0;
    padding: 1rem;
    padding-block: 2.5rem;
}

.frontend__languages-title {
    font-size: 2rem;
}

.frontend__languages-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.frontend__languages-list-item {
    font-size: 1.5rem;
}

.frontend__framework {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    padding-block: 2.5rem;
}

.frontend__framework-title {
    font-size: 2rem;
}

.frontend__framework-list-item {
    font-size: 1.5rem;
}

.backend {
    background-color: green;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    border-radius: 1rem;
}

.backend__title {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

.backend__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    margin-top: 0;
    gap: 1rem;
}

.backend__languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
}

.backend__languages-title {
    font-size: 2rem;
}

.backend__languages-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
}

.backend__framework {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
}

.backend__framework-title {
    font-size: 2rem;
}

.backend__framework-item {
    font-size: 1.5rem;
}

.backend__database {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
}

.backend__database-title {
    font-size: 2rem;
}

.backend__database-item {
    font-size: 1.5rem;
}

.backend__testing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
}

.backend__testing-title {
    font-size: 2rem;
}

.backend__testing-item {
    font-size: 1.5rem;
}

.backend__libraries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    width: 60%;
    flex: 3;
}

.backend__libraries-title {
    font-size: 2rem;
}

.backend__libraries-list {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.backend__libraries-item {
    padding-inline: 1rem;
}

.tools {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.runtime {
    background-color: blue;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
}

.runtime__title {
    font-size: 2rem;
}

.runtime__item {
    font-size: 1.5rem;
}

.deployment {
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
}

.deployment__title {
    font-size: 2rem;
}

.deployment__item {
    font-size: 1.5rem;
}

.version-control {
    background-color: red;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
}

.version-control__title {
    font-size: 1.7rem;
}

.version-control__item {
    font-size: 1.5rem;
}
