.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
}

.hero__title {
    font-size: 4rem;
    font-family: "Rubik", sans-serif;
}

.hero__subtitle {
    font-size: 2rem;
}
