.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
    background-color: oklch(10.633% 0.02858 280.39);
    height: 80%;
    margin-top: 6rem;
    margin-inline: 3rem;
    border-radius: 1rem;
    box-shadow: 0 5px 40px -10px rgb(0, 0, 0);
    border: solid 1px oklch(19.625% 0.04554 281.368);
}

.hero__title {
    font-size: 4rem;
    font-family: "Rubik", sans-serif;
    color: aliceblue;
}

.hero__subtitle {
    font-size: 2rem;
    color: aliceblue;
}

.hero__description {
    color: aliceblue;
}
