.content {
    background: oklch(38.154% 0.08796 259.625) 70%;
    /* background-image: linear-gradient(
        320deg,
        oklch(14.538% 0.05653 276.758) 0%,
        oklch(38.154% 0.08796 259.625) 70%,
        oklch(68.107% 0.06643 258.898) 100%
    ); */
}
