.content {
    background: #020024;
    background: linear-gradient(
        153deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(151, 170, 173, 1) 100%
    );
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}

.content::-webkit-scrollbar {
    width: 8px;
    overflow: scroll;
}

.content::-webkit-scrollbar-thumb {
    background: #0a0a0c;
    border-radius: 16px;
}
