.navbar {
    display: flex;
    margin-top: 1rem;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    justify-self: center;
    position: fixed;
    z-index: 1;
    border-radius: 1rem;
    border: solid 1px rgba(143, 137, 137, 0.4);
    box-shadow: 0 5px 40px -10px rgb(0, 0, 0);
}

.navbar__list {
    display: flex;
    list-style: none;
    gap: 10rem;
    align-self: center;
    justify-content: space-evenly;
    margin-inline: 3rem;
}

.navbar__list-item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    width: 6rem;
    transition: all 350ms ease-in-out;
}

.navbar__list-item:hover {
    transition: all 350ms ease-in-out;
    box-shadow: inset 0 0 13px 0 rgba(26, 26, 26, 0.775);
}

.navbar__item-link {
    text-decoration: none;
    color: white;
}
