@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Capriola&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Rubik", sans-serif; */
    font-family: "Fredoka", sans-serif;

}
