.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    margin-inline: 3rem;
    padding-bottom: 3rem;
}

.about-me__title {
    font-size: 4rem;
    text-align: center;
}

.about-me__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 5px 40px -10px rgb(0, 0, 0);
    border: solid 1px oklch(19.625% 0.04554 281.368);
    height: 75%;
    background-color: oklch(10.633% 0.02858 280.39);
    border-radius: 1rem;
}

.about-me__socials {
    color: white;
    border: solid 1px white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
}

.socials__git-hub {
    border: solid 1px white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
    padding: 1rem;
}

.git-hub__header {
    padding: 1rem;
}

.git-hub__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.git-hub__content__commit {
    border: solid 1px white;
    border-radius: 1rem;
    flex: 1;
    padding: 1rem;
}

.git-hub__content__languages {
    border: solid 1px white;
    border-radius: 1rem;
    flex: 1;
    padding: 1rem;
}

.socials__bottom {
    display: flex;
    flex: 1;
    gap: 1rem;
}

.socials__mail {
    border: solid 1px white;
    border-radius: 1rem;
    flex: 1;
    padding: 1rem;
}

.socials__linkedin {
    border: solid 1px white;
    border-radius: 1rem;
    flex: 1;
    padding: 1rem;
}

.about-me__bio {
    flex: 1;
    color: white;
    border: solid 1px white;
    border-radius: 1rem;
    padding: 1rem;
}
